<ion-content>
  <div class="holder ion-padding">
    <div class="top-logo">
      <div class="img-holder ion-text-center">
        <img src="assets/imgs/products.png" alt="">
        <h5>המוצרים שלנו</h5>
        <div class="sub-bar ion-text-center">
          <p>למד על המוצרים שלנו</p>
        </div>
      </div>
    </div>

    <!-- <div class="search-holder ion-padding">
      <ion-searchbar class="ion-text-center" placeholder="חיפוש חופשי" inputmode="decimal" type="decimal"
        [debounce]="250" showCancelButton="never"></ion-searchbar>
    </div> -->


  
        
<ion-grid fixed>
  <ion-row class="ion-no-border">
    <ion-col size="12">
      <ion-chip style="color:aliceblue; border-color: silver; border-style: dotted;">סדרת PREMIUM</ion-chip>
      <!-- <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar> -->
      
      <ion-button class="ion-no-border" color="light" expand="block" (click)="presentModal('rrr');">
        T20/C4</ion-button>
      <ion-button class="ion-no-border" color="light" expand="block" (click)="presentModal()">T15/C3</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-chip style="color:gold; border-color: gold; border-style: dotted;">סדרת SUPER PREMIUM</ion-chip>
      <ion-button class="ion-no-border" color="warning" expand="block" (click)="presentModal('aaa')">T20/C4</ion-button>
      <ion-button class="ion-no-border" color="warning" expand="block" (click)="presentModal()">T15/C3</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-chip style="color:rgb(212, 197, 187); border-color: rgb(223, 89, 0); border-style: dotted;">Premium Oils</ion-chip>
      <ion-button class="ion-no-border" color="light" expand="block" (click)="presentModal()">סדרת השמנים</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>

    <script>

    </script>
  </div>
  </ion-content>     

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>
