
<ion-content>
  <div class="holder ion-padding-vertical">
    <div class="top-logo ion-padding-horizontal">
      <div class="img-holder ion-text-center">
        <img src="../../../assets/imgs/products.png" alt="">
        <h5>המוצרים שלנו</h5>
        <div class="sub-bar ion-text-center">
          <p>למד על המוצרים שלנו</p>
        </div>
      </div>
    </div>
    <!-- 
    <div class="search-holder ion-padding">
      <ion-searchbar class="ion-text-center" placeholder="חיפוש חופשי" inputmode="decimal" type="decimal"
        [debounce]="250" showCancelButton="never"></ion-searchbar>
    </div>
 -->
    <div class="title-holder ion-text-center ion-padding-vertical">
      <h2>קטגוריה T20/C4    </h2>
    </div>

    <div>
      <div class="the-list ion-padding-vertical">
        <div class="card" >
          <ion-row>
            <ion-col size="3" class="left flex al-center jc-between">
              <img src="assets/imgs/cc1.png" alt="">
            </ion-col>
            <ion-col size="8" class="right flex flexd">
              <div class="first ion-text-center">
                <h5>יהב INDICA T20/C4 

 
                </h5>
                <p class="ion-text-wrap">יהב INDICA T20/C4 

                </p>
              </div>
              <div class="btns-holder flex  jc-end">

                <ion-button id="prem">
                  PREMIUM
                </ion-button>
              </div>
            </ion-col>

            <ion-col size="1" class="flex al-center">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-col>

          </ion-row>
        </div>

        <div class="card" >
          <ion-row class="ion-text-right">
            <ion-col size="3" class="left flex al-center jc-between">
              <img src="assets/imgs/cc1.png" alt="">
            </ion-col>
            <ion-col size="8" class="right flex flexd">
              <div class="first ion-text-center">
                <h5>יהונתן SATIVA THC RICH T20/C4


                </h5>
                <p class="ion-text-wrap">יהונתן SATIVA THC RICH T20/C4


                </p>
              </div>
              <div class="btns-holder flex  jc-end">

                <ion-button id="prem">
                  PREMIUM
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="1" class="flex al-center">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-col>

          </ion-row>
        </div>

        <div class="card" >
          <ion-row class="ion-text-right">
            <ion-col size="3" class="left flex al-center jc-between">
              <img src="assets/imgs/cc1.png" alt="">
            </ion-col>
            <ion-col size="8" class="right flex flexd">
              <div class="first ion-text-center">
                <h5>דויד BLEND T20/C4 



                </h5>
                <p class="ion-text-wrap">דויד BLEND T20/C4 



                </p>
              </div>
              <div class="btns-holder flex  jc-end">

                <ion-button  class="super">
                  SUPER PREMIUM
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="1" class="flex al-center">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-col>

          </ion-row>
        </div>


        <div class="card" >
          <ion-row class="ion-text-right">
            <ion-col size="3" class="left flex al-center jc-between">
              <img src="assets/imgs/cc1.png" alt="">
            </ion-col>
            <ion-col size="8" class="right flex flexd">
              <div class="first ion-text-center">
                <h5>גולית INDICA T20/C4



                </h5>
                <p class="ion-text-wrap">גולית INDICA T20/C4


                </p>
              </div>
              <div class="btns-holder flex  jc-end">

                <ion-button class="super">
                  SUPER PREMIUM
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="1" class="flex al-center">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-col>

          </ion-row>
        </div>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>