<ion-content>
  <div class="holder ion-padding">
    <div class="top-logo">
      <div class="img-holder ion-text-center">
        <img src="assets/imgs/products.png" alt="">
        <h5>המוצרים שלנו</h5>
        <div class="sub-bar ion-text-center">
          <p>למד על המוצרים שלנו</p>
        </div>
      </div>
    </div>

    <div class="title-holder ion-text-center ion-padding-vertical">
      <h2>בחר קטגוריה </h2>
    </div>

    <div class="cat-holder">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <div class="btn ion-text-center ion-activatable ripple-parent" (click)="goProducts()">
              <ion-ripple-effect></ion-ripple-effect>
              <div class="img-holder ion-text-center">
                <img src="assets/imgs/cc1.png" alt="">
              </div>
            <div class="bottom-holder" id="second">
              <p>תפרחות <br> T15/C3
              </p>
            </div>
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="btn ion-text-center ion-activatable ripple-parent" (click)="goProductst20()">
              <ion-ripple-effect></ion-ripple-effect>
              <div class="img-holder flex jc-center al-center">
                <img src="assets/imgs/cc1.png" alt="">
              </div>
              <div class="bottom-holder" id="first">
                <p>תפרחות <br> T20/C4
                </p>
              </div>
            
            </div>
          </ion-col>
          <ion-col size="6">

          </ion-col>
          <ion-col size="6">
            <div class="btn ion-text-center ion-activatable ripple-parent" (click)="goProductsOils()">
              <ion-ripple-effect></ion-ripple-effect>
              <div class="img-holder flex jc-center al-center">
                <img src="assets/imgs/cc2.png" alt="">
              </div>
              <div class="bottom-holder" id="third">
                <p>שמני  <br>קנאביס
                </p>
              </div>
            
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>