<ion-content>
  <div class="holder ion-padding">
    <div class="logo-holder ion-text-left">
      <img src="assets/imgs/logo.png" alt="">
    </div>
    <form #form="ngForm" (ngSubmit)="loginUser(form)">


      <div class="the-form">
        <div class="input-item">
          <ion-item lines="none">
            <ion-input name="email" type="email" ngModel required class="ion-text-center"
              placeholder="הזן כתובת דואר אלקטרוני"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="btn-holder ion-text-center">
        <ion-button type="submit">
          המשך
          <ion-icon slot="end" name="chevron-back-circle"></ion-icon>
        </ion-button>
      </div>
    </form>
    <div class="ion-align-items-center">
      <ion-chip (click)="goHome()">הכנס כאורח</ion-chip>
    </div>
    <div class="social-holder ion-text-center">
      <ion-item button (click)="doGoogleLogin()">
        <ion-label>כניסה עם חשבון גוגל

        </ion-label>
        <div class="end-slot" slot="end">
          <img src="assets/imgs/g.png" alt="">
        </div>
      </ion-item>

      <ion-item button>
        <ion-label>כניסה עם חשבון פייסבוק
        </ion-label>
        <div class="end-slot" slot="end">
          <img src="assets/imgs/fb.png" alt="">
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>