<!-- <ion-header>

  <ion-nav>
    <ion-title>{{productName}}</ion-title>
  </ion-nav>

</ion-header>

<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + 'assets/imgs/ganja.png' + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{productName}}</h2>
    <p>{{desc}}</p>
  </div>
</ion-content> --> -->

<ion-content fullscreen>
  <ion-grid >
    <div class="modalfull"> 
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <div class="holder" style="display:block">
        <div class="close-holder flex jc-start">
          <ion-button color="dark" (click)="close()" expand="block" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="img-holder ion-text-center">
          <img src="assets/imgs/ganja.png" alt="">
        </div>


        <div class="content">
          <div class="title-holder ion-text-right">
            <h4>{{productName}}</h4>
            <p class="ion-text-wrap"></p>
          </div>

          <div class="description ion-padding-horizontal">
            <p class="ion-text-wrap">{{desc}}</p>
          </div>

          <div class="lab-data ion-text-center">
            <p>סדרה:
            </p>
          </div>

          <div class="btns-holder flex al-center jc-center">
            <ion-button id="subject">
              {{series}}
            </ion-button>
      
          </div>
        </div>
      </div>
    </ion-row>
    </div>
  </ion-grid>
</ion-content>