<ion-content class="ion-padding">


    <div class="logo-holder ion-text-left">
        <img src="assets/imgs/logo.png" alt="">
      </div>

      
    <div class="title-holder ion-text-center">
        <h1>פרופיל בית מרקחת
        </h1>
    </div>


    <div class="profile-holder">
        <ion-row>
            <ion-col size="6" class="flex flexd al-center jc-center">
                <div class="btn flex al-center jc-center"> 
                    <img src="assets/imgs/person1.png" alt="">
                </div>
                <h5>פרטי עסק
                </h5>
            </ion-col>
            <ion-col size="6"  class="flex flexd al-center jc-center">
                <div class="btn flex al-center jc-center"> 
                    <img src="assets/imgs/person1.png" alt="">
                </div>
                <h5>שעות פתיחה

                </h5>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="pharmanage" text="" icon="chevron-back-outline" mode="md"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>