<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="search-holder ion-padding">
          <ion-searchbar class="ion-text-center" placeholder="חיפוש מהיר" inputmode="search" type="decimal"
            [debounce]="250" showCancelButton="never" [(ngModel)]="filterTerm">
          </ion-searchbar>
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngIf='pharmRecords | filter:filterTerm as result'>
      <input #ref1 type="text" hidden value="../../assets/imgs/logo_super-pharm.png" />
      <input #ref2 type="text" hidden value="../../assets/imgs/waze (3).png" />
      <input #ref3 type="text" hidden value="../../assets/imgs/phone-call (1).png" />
      <input #ref4 type="text" hidden value="../../assets/imgs/whatsapp (3).png" />

      <ion-row>
        <ion-col size-md="6" size="12" *ngFor="let data of result">
          <ion-card class="ion-no-margin" [class.active]="data.active">
            <ion-item lines="none" class="ion-no-padding">
              <ion-thumbnail>
                <img [src]="ref1.value">
              </ion-thumbnail>
              <!-- <ion-chip style="height: fit-content; background-color: gold ; color:white"> {{data.Rating}} <ion-icon
                  style="width: 10px;" name="star" color="light"></ion-icon>
              </ion-chip> -->
              <ion-label class="ion-padding-start">
                <!-- <p class="ion-text-uppercase">{{data.date}}</p> -->
                <h4 class="ion-text-wrap"><strong>{{data.name}}</strong></h4>
                <div>
                  <ion-icon name="location-outline"></ion-icon>
                  <p>{{data.address}}, {{data.city}}</p>
                  <input #ref5 type="text" hidden
                    value="https://maps.google.com/maps?q={{data.address}} {{data.city}}&t=&z=13&ie=UTF8&iwloc=&output=embed" />
                </div>
              </ion-label>
            </ion-item>
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col size=6>
                      <ion-item lines="none" class="item-content">
                        <div class="item-content" style="margin: 4px;">
                          <ion-thumbnail class="quickbar" (click)=goNavigate(data.address)><img [src]="ref2.value"></ion-thumbnail>
                          <ion-thumbnail class="quickbar"><img [src]="ref3.value"></ion-thumbnail>
                          <ion-thumbnail class="quickbar" ><img [src]="ref4.value"></ion-thumbnail>
                        </div>
                      </ion-item>
                  </ion-col>

                  <ion-col size=6 class="ion-align-items-end">
                    <ion-item lines="none" class="item-content ion-no-padding">
                      <div class="ion-no-padding ion-align-items-start">
                        <ion-chip  (click)="onReserveProduct(data)">שריין מלאי</ion-chip>
                        <ion-button fill="clear" class="ion-float-right ion-no-padding" (click)="data.active=!data.active">
                          <ng-template [ngIf]="!data.active" [ngIfElse]="no">
                            <ion-icon size="large" name="chevron-down-outline"></ion-icon>
                          </ng-template>
                          <ng-template #no>
                            <ion-icon size="large" name="chevron-up-outline"></ion-icon>
                          </ng-template>
                        </ion-button>
                      </div>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            
            <ion-card-content class="ion-padding">
              <ion-item>
                <p>שעות פתיחה: {{data.openFrom}} - {{data.openTo}}</p>
              </ion-item>
              <ion-item>
                <p>דירוג גולשים:
                  <ion-chip style="height: fit-content; background-color: gold ; color:white"> {{data.Rating}} <ion-icon
                      style="width: 10px;" name="star" color="light"></ion-icon>
                  </ion-chip>

                </p>
              </ion-item>
              <ion-item *ngIf="data.website">
                <p>אתר אינטרנט: {{data.Website}}</p>
              </ion-item>
              <ion-item>
                <p>יצירת קשר:
                  <ion-chip>{{data.phone}}</ion-chip>
                  <ion-chip>{{data.phone2}}</ion-chip>
                  <ion-chip *ngIf="data.email">{{data.email}}</ion-chip>
                </p>
                
              </ion-item>
              <ion-item>
                <!-- <div class="mapouter">

                  <div class="gmap_canvas"><iframe width=100% height="300" id="gmap_canvas" src="https://maps.google.com/maps?q='{{ref5.value}}'&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                      href="https://embedgooglemap.net/maps/71"></a><br>
                    <style>

                    </style>
                    <style>

                    </style>
                  </div>
                </div> -->
                <!-- <p>{{ref5.value}}</p> -->
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>