<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
      <!-- <ion-title>register2</ion-title> -->
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">


    <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">
            <img src="../../assets/logonewwhite.png" alt="">
          </ion-title>
        </ion-toolbar>
      </ion-header>


      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;" size="12">
              <h5>Personal Area</h5>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="6" style="text-align: center;">
          <img src="../../../assets/personal1.png" alt="">
          </ion-col>
          <ion-col size="6" style="text-align: center;">
              <img src="../../../assets/personal2.png" alt="">
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="6" style="text-align: center;">
                <img src="../../../assets/personal3.png" alt="">
              </ion-col>
            <ion-col size="6" style="text-align: center;"></ion-col>
  
          </ion-row>
      </ion-grid>


</ion-content>


<ion-footer no-border >
    <ion-grid style="margin: -12px;">
        <ion-row class="footer">
            <ion-col size="12">
              <img src="../../../assets/footer bar.png" alt="">
            </ion-col>
       
          </ion-row>
          
        
    </ion-grid>
  </ion-footer>