

<ion-content class="ion-padding">
  
  <h1>חדשות ועדכונים</h1>
  <div class="box ion-text-center">
    <ion-item lines="none" style="border-radius: 15px;">
      <!-- <ion-icon name="newspaper-outline"></ion-icon> -->
      <ion-icon  src="../../assets/imgs/megaphone.svg"></ion-icon>
      
      <ion-label color="danger">עדכונים</ion-label>
    </ion-item>
    <ion-slides mode="ios" pager="yes" scrollbar="yes">
      <ion-slide>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <div>
                <p class="ion-text-wrap ion-text-right">
                  התעדכנו במוצרים חדשים! </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <div>
                <p class="ion-text-wrap">
                 חדש בדוד וגולית! סדרת שמני קנאביס 
                 <br>
                 <a href="../productcategories/">לחץ לפרטים</a>
                
              </div>
  
             
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <div>
                <p class="ion-text-wrap">
                 עדכונים נוספים בקרוב!
                </p>
              </div>
  
              <div class="answers">
                
              </div>
  
             
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>


    <div class="btnnn-holder flex jc-end">
    </div>
  </div>
<div style="min-height: 10px;; display:block;"></div>
  <div class="box ion-text-center">
    <ion-item lines="none" style="border-radius: 15px;">
      <!-- <ion-icon name="newspaper-outline"></ion-icon> -->
      <ion-icon  src="../../assets/imgs/megaphone.svg"></ion-icon>
      
      <ion-label color="danger"> חדשות בנושא קנאביס</ion-label>
    </ion-item>
    <ion-list class="box">
      <ion-item>
        <ion-label>מאמר אחד</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>מאמר אחד</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>מאמר אחד</ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>