<ion-header>
  <ion-toolbar>
    <ion-title>חדשות ועדכונים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
   
    <ion-card-title>מהפך: האו"ם הסיר את הקנאביס הרפואי מרשימת הסמים המסוכנים</ion-card-title>
    <ion-card-subtitle>מדינות מערב אירופה, ארה"ב ותאילנד - תמכו בהחלטה. סין ורוסיה התנגדו ■ מניות הקנאביס הנסחרות בארה"ב מזנקות בחדות</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    ועדת האו"ם לענייני סמים החליטה היום (רביעי) על הסרת הקנאביס הרפואי מרשימת הסמים המסוכנים. ההחלטה עברה ברוב של 27 מדינות - ביניהן ארה"ב, מדינות מערב אירופה ותאילנד. 25 מדינות - בהן סין ורוסיה - הצביעו נגד. אוקראינה נמנעה. 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
   
    <ion-card-title>שמן קנאביס: האם הוא יעיל יותר - ואיך הוא מיוצר?
    </ion-card-title>
    <ion-card-subtitle>יתרונות הקנאביס בטיפול בשלל מחלות ובעיות רפואיות, ידועים זה מכבר. איך צריכתו בצורת שמן משפיעה על מטופלים ואיזה טכנולוגיות חדשות קיימות בתחום. ד"ר נועה רז מתארחת באולפן ynet כדי להסביר</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    בות דובר על יתרונות הקנאביס בהקשר של שלל מחלות ומצבים רפואיים. אחד השימושים הנפוצים בצמח הוא בצורת שמן. מדובר במיצוי תפרחת הצמח המהול בשמן צמחי לרוב שמן זית. 
    על היתרונות בשמן ועל הטכנולוגיות החדשות, ד"ר נועה רז, מדענית בחירה מקבוצת בזלת, מסבירה באולפן:  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
   
    <ion-card-title>מטופלי קנאביס רפואי לנתניהו ואדלשטיין: נעתור לבג"ץ נגד חשיפת מידע של חולים
    </ion-card-title>
    <ion-card-subtitle>בעמותת הקנאביס הרפואי מתנגדים לכוונת משרד הבריאות למסור למשטרה גישה לפרטים של כ-75 אלף בעלי רישיונות לקנאביס רפואי. במכתב התראה בעקבות חשיפת וואלה! NEWS, נטען כי מדובר ברמיסת זכויות יסוד: "אוכלוסיית החולים הקשה בישראל תיפגע". אדלשטיין וקיש סירבו להגיב</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    "התרת הגישה למאגר החולים המטופלים בקנאביס רפואי למשטרה או למשרד לביטחון הפנים מהווה פגיעה בלתי מידתית ובלתי סבירה בזכויות יסוד", נכתב במכתב ההתראה, ששוגר לראש הממשלה בנימין נתניהו, השרים אמיר אוחנה ויולי אדלשטיין וסגן שר הבריאות יואב קיש. "אין לאף אחד מהשרים, לרבות ראש הממשלה, את הסמכות לתת היתר לרמיסת זכויות החולים ולחדירה לפרטיותם - אף לא באופן המצומצם ביותר".  </ion-card-content>
</ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>