ion-content
{
  --background: #fff url('../../assets/imgs/bg.png') no-repeat center center / cover;
  .holder
  {
   
    .top-logo
    {
      .img-holder
      {
        img
        {
          height: 4rem;
        }

        h5
        {
          color: white;
          margin: 0;
        }
        
      }

      .sub-bar
      {
        background-color: rgba(0,2,66,0.5);
        border-radius: 25px;
        p
        {
         
          color: white;
          margin: 5px 0;
        }
      }
    }

   

  }
}