<ion-content>
  <div class="holder ion-padding">
    <div class="top-logo">
      <div class="img-holder ion-text-center">
        <img src="assets/imgs/c4.png" alt="">
        <h1 calss="padding">שובר הנחה</h1>
        <div class="sub-bar ion-text-center">
        </div>
      </div>
    </div>



    <div class="s1">
      <div class="the-list ion-padding-vertical">
        <div class="card">
          <ion-row>
            <ion-col size="4" class="right flex al-center">
              <div class="thumb">
                <img src="../../assets/imgs/barcode.png" alt="">
              </div>
            </ion-col>
            <ion-col size="8" class="ion-align-items-center">
              <div class="ion-text-center">
                <h1 class="ion-align-self-center">שובר הנחה</h1>
                <h4 class="ion-align-self-center">10% הנחה </h4>
                <p class="ion-align-self-center">למזמינים מעל 40 גרם </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>