ion-content
{
  --background: #fff url('../../assets/imgs/bg.png') no-repeat center center / cover;
  .holder
  {
    .top-logo
    {
      .img-holder
      {
        img
        {
          height: 4rem;
        }

        h5
        {
          color: white;
          margin: 0;
        }
        
      }

      .sub-bar
      {
        background-color: rgba(0,2,66,0.5);
        border-radius: 25px;
        p
        {
         
          color: white;
          margin: 5px 0;
        }
      }
    }

  .card
  {
    padding: 0 !important;
    position: relative;
    .top-bar
    {
      background-color: #ffffff;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 10px 5px;
      h5
      {
        color: rgb(10, 10, 10);
        font-size: 24px;
        margin: 0;
      }
    }
  }

    .left
    {
      .imgs
      {
        img
        {
          height: 2.5rem;
          margin: 0 10px;
        }
      }

      .btn
      {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 10px;
        ion-button
        {
          --background: #2AC940;
          --color: white;
          --border-radius: 15px;
          --box-shadow: none;
          height: 20px;
          width: 100px;
        }
      }
    }

    .right
    {
      .thumb
      {
       img
       {
        height: 15vh;
       }
      }
    }


   
  }
}