$font-family-ios-base: 'IDAHC39M';
$font-family-md-base:'IDAHC39M';
$font-family-wp-base:'IDAHC39M';

ion-content
{

  .fonty {
    font-family: 'IDAHC39M';
  }

  --background: url('../../assets/imgs/bg.png') no-repeat center center / cover;

  .title-holder
  {
    margin: 10vw;
    h1
    {
      color: white;
      font-size: 30px;
    }
  }

  .the-list
  {
    .card
    {
      border-radius: 0 !important;
      .right
      {
        ion-icon
        {
          font-size: 3rem;
          margin: 0 10px;
        }
      }
      .details
      {
        img {
          width: 64px;
          height: 64px;
        }
        h5
        {
          margin: 5px 0;
          font-size: 1rem;
        }

        p
        {
          color: #39F;
          margin: 0;
        }
      }
    }
  }
}