<ion-content>
  <div class="close-holder flex jc-start">
    <ion-button color="dark" (click)="close()" expand="block" fill="clear" shape="round">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="title-holder ion-text-center">
    <h1>מעקב הזמנות
    </h1>
    <ion-chip (click)="presentPopover($event)">איך זה עובד?</ion-chip>
  </div>

  <div class="the-list ion-padding" *ngIf="data">
    <div *ngFor="let item of data.inventory; let i = index">
      <ng-container *ngIf="!item.isDisable == true">
  
        <!-- <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="8"><ion-badge id="name">{{item.name}}</ion-badge> </ion-col>
            <ion-col size="4"><ion-badge>{{item.category}}</ion-badge></ion-col>
          </ion-row>
            <ion-row>
              <ion-col size="4">
              <ion-badge>{{item.category}}</ion-badge>
              </ion-col>
              <ion-col size="4">
                <ion-badge>{{item.category}}</ion-badge>
              </ion-col>
            </ion-row>
        </ion-grid>
        </ion-item> -->
        <div class="card">
          <ion-row>
            <ion-col size="8" class="right flex al-right flexd">
              <div>
                <!-- <h5 id="name">{{item.productName}}</h5> -->
                <h5>{{item.name}}
                </h5>
                <!-- <p>{{item?.category?}}
                      </p> -->
  
                <!--  <h5>Available qty. {{item.quantity}}
          
                      </h5> -->
              </div>
            </ion-col>
            <ion-col size="4" class="center flex al-center jc-center">
              <ion-chip>
                <div class="center-holder flex flexd al-center">
                  <div class="qty-holder flex al-center">
                    <div class="btn ion-activatable ripple-parent" (click)="onPlus(i)">
                      <ion-ripple-effect></ion-ripple-effect>
                      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                    </div>
                    <!-- <ion-note>{{item.quantity}}</ion-note> -->
                    <!-- <ion-note class="flex al-center jc-center">{{item.qty}}</ion-note> -->
                    <ion-note id="note-text" *ngIf="validateQty(item.orderedQty) ; else rCount"
                      class="flex al-center jc-center">
                      <ion-input (ionInput)="onManuallyAdd(i, $event)" value="{{item.orderedQty}}"></ion-input>
                      <!-- {{item.orderedQty}} -->
                    </ion-note>
                    <ng-template #rCount>
                      <ion-note id="note-text" class="flex al-center jc-center">
                        <!-- {{count}} -->
                        <ion-input (ionInput)="onManuallyAdd(i, $event)" value="{{count}}"></ion-input>
                      </ion-note>
                    </ng-template>
                    <div class="btn ion-activatable ripple-parent" (click)="onMinus(i)">
                      <ion-ripple-effect></ion-ripple-effect>
                      <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                    </div>
                  </div>
                </div>
              </ion-chip>
            </ion-col>
  
          </ion-row>
          <ion-row>
            <!-- <ion-col size="8"></ion-col> -->
            <ion-col size="12" class="center flex al-center">
              <div class="btn-holder">
                <ion-button color="success" [disabled]="item.isDisable" *ngIf="item.isDisable;else disableBtnList"
                  id="reserve" shape="round">
                  הוסף
                </ion-button>
                <ng-template #disableBtnList>
                  <ion-button color="danger" *ngIf="item.isDisable == false;else disableBtn" id="reserve" shape="round"
                    (click)="addDisableStatus()">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                  <ng-template #disableBtn>
                    <ion-button color="success" *ngIf="item.isDisable == undefined" (click)="onOderItem(item,i)"
                      id="reserve" shape="round">
                      הוסף </ion-button>
                  </ng-template>
                </ng-template>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>
    </div>
  
  </div>

  <div class="description ion-text-center">
    <p class="ion-text-wrap">
      ניתן להזמין מוצר אחד בלבד בכל בקשה
      <br>
      ההזמנה בכפוף למרשם ורשיון בתוקף.
      <br>
      בלחיצה על הזמנה הנך מאשר לבית המרקחת קבלת המסמכים הנדרשים מהמערכת לצורך אישור ההזמנה בפועל.
    </p>
  </div>

  <div class="btm-btn-holder ion-text-center">
    <ion-button (click)="onReserve()" shape="round">
      Order
    </ion-button>
  </div>
</ion-content>