<ion-content>
  <div class="close-holder flex jc-end">
    <ion-button color="dark" (click)="close()" expand="block" fill="clear" shape="round">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="title-holder ion-text-center">
    <h1>מעקב הזמנות
    </h1>
  </div>

  <div class="the-list">
    <div class="card" *ngFor="let item of data.inventory">

      <ion-row>
        <ion-col size="4" class="left flex al-center">


          <div class="btn-holder">
            <ion-button id="reserve" (click)="onReserve(item)" shape="round">
              Order
            </ion-button>
          </div>

        </ion-col>

        <ion-col size="4" class="center flex al-center jc-center">
          <div class="center-holder flex flexd al-center">
            <p>Qty</p>

            <div class="qty-holder flex al-center">
              <div class="btn ion-activatable ripple-parent">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </div>
             
              <!-- <ion-note>{{item.quantity}}</ion-note> -->
              <ion-note class="flex al-center jc-center">20</ion-note>
              <div class="btn ion-activatable ripple-parent">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
              </div>
           
            </div>
          </div>
         

        </ion-col>

        <ion-col size="4" class="right flex al-center flexd">
          <div class="details">
            <h5 id="name">{{item.productName}}

            </h5>
            <p>{{item.description}}
            </p>
            <!-- <p>{{item?.category?}}
            </p> -->

           <!--  <h5>Available qty. {{item.quantity}}

            </h5> -->
          </div>
        </ion-col>
    
      </ion-row>
    </div>
  </div>

  <div class="description ion-text-center">
    <p class="ion-text-wrap">
      dskdsjdksjdsjdsjdsjdsdjskjdsjdsdjsdjsdjskjsjdk
    </p>
  </div>

  <div class="btm-btn-holder ion-text-center">
    <ion-button shape="round">
      Order
    </ion-button>
  </div>
</ion-content>