ion-content
{
    --background: rgba(255, 255, 255, 0.295);
}

.holder
{
    width: 100%;
    background: white;
  

    color: #d8d8d8;

    .img-holder
    {
        img
        {
            height: 20vh;
        }
    }


    .rate-holder
    {
        .rate
        {
            background: #4F4F4F;
            border-radius: 30px;
            width: fit-content;
            padding: 0 10px;
        }
    }

    .content
    {
        .address-holder,.tel-holder
        {
            background: #C8C8C8;
            border-radius: 30px;
            padding: 5px 10px;
            h4
            {
                color: black !important;
                font-weight: bold;
                margin: 0;
            }

            p
            {
                color: black !important;
                font-weight: bold;
                margin: 0;
            }
        }

        .btns-holder
        {
            margin-top: 20px;
            .btn
            {
                margin: 0 10px;
                .img-holder
                {
                    img
                    {
                        height: 2rem;
                    }
                }
            }
        }


        
    }
}