<ion-content>
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <div class="holder">
        <div class="close-holder flex jc-start">
          <ion-button color="dark" (click)="close()" expand="block" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
          <div class="content ion-padding-horizontal ion-text-left">
            <h2>Order <br> 34353435 </h2>
            <div class="details ion-text-left">
              <h5>:Name</h5>
              <h5>:Product</h5>
              <h5>:Qty</h5>
            </div>
  
            <div class="file-chooser">
              <ion-row>
                <ion-col size="6">
                  <div class="btn ion-activatable ripple-parent ion-text-center">
                    <ion-ripple-effect></ion-ripple-effect>
                    <img src="assets/imgs/document.png" alt="">
                    <p>ID <br> document</p>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="btn ion-activatable ripple-parent ion-text-center">
                    <ion-ripple-effect></ion-ripple-effect>
                    <img src="assets/imgs/document.png" alt="">
                    <p>recipt <br> document</p>
                  </div>
                </ion-col>
               
              </ion-row>
            </div>

            <div class="btns-holder ion-padding-bottom">
              <ion-row>
                <ion-col size="6">
                  <ion-button id="decline"  expand="block" shape="round">
                    decline
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button id="accept"  expand="block" shape="round">
                    accept
                  </ion-button>
                </ion-col>
             
              </ion-row>
            </div>
          </div>
        
      </div>
    </ion-row>
  </ion-grid>
</ion-content>