<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center fixed-content" style="margin-top: 30px;">
          <img src="../../assets/logonewwhite.png" width="110px">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-right" size="12">
        <ion-item lines="none" class="ttl">
          <ion-icon name="documents-outline"></ion-icon>
          <ion-label>צירוף מסמכים</ion-label>
        </ion-item>
        <!-- <ion-item lines="none">
          <ion-label>
            ברוך הבא לאפליקצית השירות המתקדמת שלנו!
          </ion-label>
        </ion-item> -->
        <ion-item lines="none">
          <ion-label class="bigger ion-text-wrap">
            המסמכים שתצרף בשלב זה ישמשו לבדיקת זכאותך בעת בקשה לשמירת מלאי או הזמנה ישירה של מוצר. <br>
            לצורך השלמת הרישום, יש להצטייד בטופס מרשם ורשיון בתוקף.
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Start Progress Icons -->
    <ion-row>
      <ion-col size=12>
        <div class="ion-text-center fixed-content" style="margin-top: 10px;">
          <img src="../../../assets/completed.svg" width="80%" />
        </div>
      </ion-col>
    </ion-row>

    <!-- END Progress Icons -->





    <!-- START Next Step Button -->
    <ion-row class="ion-justify-content-center">
    <ion-col routerlink="/dashboard" size="8">
        <ion-item button detail="false" lines="none" detail-icon="chevron-back-outline"
          class="ion-text-center input-darkb-rnd">
          <ion-label>המשך</ion-label>
          <ion-icon name="arrow-back-circle-outline"></ion-icon>


        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END -->
  </ion-grid>

</ion-content>
<style>
  ion-toolbar {
    visibility: visible;
  }

  .input-darkb-rnd {
    --background: #071a33;
    --border-radius: 25px;
    color: #ffffff;
    border-color: #333333;
    border-width: thin;
  }
</style>