<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">התראות</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="notificationList" class="ion-padding">
    <div class="the-list" *ngFor="let notification of notificationList">
      <ng-container *ngIf="notification.type === 'voucher'">
        <ion-item lines="none" *ngIf="notification.show">
          <div *ngIf="notification.seen" class="thumb flex al-center jc-center" slot="end">
            <ion-icon class="icon" slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </div>
          <ion-label>{{notification.dttm}}</ion-label>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="notification.type === 'order'">
        <ion-item lines="none"
          *ngIf="notification.show && !notification.orderDetails.verify && !notification.orderDetails.confirmation">
          <div *ngIf="notification.seen" class="thumb flex al-center jc-center" slot="end">
            <ion-icon class="icon" slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </div>
          <ion-label>{{notification.dttm}}</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="notification.show && notification.orderDetails.verify">
          <div *ngIf="notification.seen" class="thumb flex al-center jc-center" slot="end">
            <ion-icon class="icon" slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </div>
          <ion-label>{{notification.dttm}}</ion-label>
        </ion-item>
      </ng-container>
    </div>
  </ng-container>
</ion-content>