<ion-header>
  <ion-toolbar>
    <ion-title slot="end" class="ion-padding" style="background-color:#ffffff">סדרת פרימיום T20/C4</ion-title>
    <ion-item lines="none" slot="start" (click)="close()"><ion-icon name="close-circle-outline"></ion-icon></ion-item>
  </ion-toolbar>
 
</ion-header>
<ion-content fullscreen style="background-color:#DDDDDD;">
  <!-- <ng-container *ngIf='ProdRecords as result'> -->

  <ion-card>
    <img src="../../../assets/imgs/product.png" />
    <ion-card-header>
      <ion-card-subtitle><ion-chip color="warning dark">סדרת פרימיום</ion-chip></ion-card-subtitle>
      <ion-card-title>יהונתן סאטיבה קטגוריה T20-c4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      תפרחת קנאביס סאטיבה בקטגוריה T20/C4    </ion-card-content>
  </ion-card>

<!-- </ng-container> -->
  <ion-card>
    <img src="../../../assets/imgs/product.png" />
    <ion-card-header>
      <ion-card-subtitle><ion-chip color="warning">סדרת פרימיום</ion-chip></ion-card-subtitle>
      <ion-card-title>דויד בלאנד T20 c4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      בלנד קנאביס סאטיבה\אינדיקה בקטגוריה T20/C4    </ion-card-content>
  </ion-card>
  </ion-content>
