<ion-content>
  <div class="holder ion-padding">
    <div class="logo-holder ion-text-left">
      <img src="assets/imgs/logo.png" alt="">
    </div>

    <div class="the-form">
      <div class="input-item">
        <ion-item lines="none">
          <ion-input [(ngModel)]="password" type="password" class="ion-text-center" placeholder=""></ion-input>
        </ion-item>
        <div class="forgot-holder ion-text-right">
          <p> <span> שכחת סיסמא</span> <span (click)="openForgetPassword()">לחץ כאן</span></p>
        </div>
      </div>
    </div>

    <div class="btn-holder ion-text-center">
      <ion-button (click)="login()">
        כניסה
        <ion-icon slot="end" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </div>


  </div>
</ion-content>